html {
  height: 100%;
  font-size: 16px;
}

body {
  height: 100%;
  color: #444;
  font-family: Roboto, Arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

/* unknown props */
/* пример фонового цвета - background-color: #3F51B5; */
/* тень блока - box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2); */
/* закругленные углы у кнопок - border-radius: 3px; */

/* Your styles go below */
* {
  box-sizing: border-box;
}
body {
  font-family: Arial;
}
header {
  line-height: 30px;
  padding: 10px 25px;
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: #3F51B5;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
.nav {
  color: white;
  font-weight: bold;
}
.active {
  text-decoration: underline;
}
.content {
  margin: 80px 175px;
  width: 1170px;
  font-size: 0px;
}
h1 {
  font-size: 45px;
  margin-bottom: 20px;
  font-weight: bold;
}
.container {
  margin: 30px 0;
}
.card {
  width: 30%;
  display: inline-block;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  margin-bottom: 30px;
  margin-left: 39px;
}
.image-block {
  position: relative;
}
.image {
  width: 100%;
}
.favourite {
  position: absolute;
  top: 15px;
  left: 15px;
}
.text-block {
  padding: 25px 15px;
}
h2 {
  font-size: 24px;
  margin-bottom: 15px;
}
span {
  font-size: 16px;
}
.view {
  font-size: 16px;
  background: #3F51B5;
  display: block;
  border-radius: 3px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  padding: 8px;
  margin-top: 10px;
}
.view:hover {
  background-color: silver;
}
.view:active {
  background-color: dimgray;
}
.pages {
  text-align: center;
  font-size: 14px;
}
.page.active {
  font-weight: bold;
  margin: 0 10px 0 0;
  text-decoration: none;
}
.page {
  text-decoration: underline;
  margin: 0 10px; 
}
.page:nth-child(4n) {
  margin: 0 0 0 10px;
}
footer {
  text-align: center;
  padding: 15px 15px;
  width: 100%;
  color: white;
  background-color: #3F51B5;
}
