html {
  font-size: 16px;
}

table {
  width: 100%;
}
td {
  padding: 16px;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 125%;
}
h5 {
  font-size: 2vh;
}
h6 {
  font-size: 0.75vw;
}
td:first-letter {
  color: red;
}
tr:nth-child(even) {
  background-color: #ddd;
}
tr:nth-child(odd) td:nth-child(n+5) {
  font-style: italic;
  font-weight: bold;
}
